/* TOPLINE */
body {
    font-family: 'BAHNSCHRIFT';
  }
  
  span {
    display: block;
    text-align: center;
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 3px 0px;
  }
  
  /* HEADER */
  header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-family: 'BAHNSCHRIFT';
    max-height: 100px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 0px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    color: gray;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    padding: 5px;
    line-height: 35px;
  }
  
  nav li:hover > ul {
    display: block;
    margin-top: 0;
    background-color: #f1f1f1;
  }
  
  /* MAIN */
  main img {
    width: 100%;
    height: auto;
  }
  
  main {
    padding: 0 0;
    padding-top: 90px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flexbox;
  }
  
  .column {
    flex: 1;
    text-align: center;
    margin: 0 20px;
  }
  
  .column img {
    margin-top: 50px;
    width: 66px;
    height: auto;
  }
  
  .column h4 {
    margin: 10px 0 10px 0;
  }
  
  .column p {
    margin: 0 0 20px 0;
    font-weight: 200;
  }
  
  .column button {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 60px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #1b5e20;
    color: #fff;
    cursor: pointer;
  }
  
  /* MAIN CONTENT SPLIT */
  .container-links {
    padding: 50px 150px;
    display: flex;
  }
  
  .left-side {
    width: 35%; /* Adjust this value to control the width of the left side */
  }
  
  .right-side {
    width: 65%; /* Adjust this value to control the width of the right side */
  }
  
  .right-side h1 {
    text-transform: uppercase;
    color: teal;
    font-stretch: narrower;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a
  {
    color: black;
    text-decoration: none;
  }
  
  /* VIDEO */
  .video {
    display: flexbox;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 56.25%;/*56.25%;  16:9 aspect ratio */
    width: 80%;
    z-index: -1;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* FOOTER */
  footer {
    width: 100%;
    background-color: #ddd;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
  }
  
  /* RESET */
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
  }
  
  /* VIDEO CONTAINER */
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  /* FOOTER */
  footer {
    width: 100%;
    background-color: #ddd;
    text-align: center;
    padding: 20px 0;
  }
  
  /* RESET */
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #333;
  }
  
  
  
  
  /* RESPONSIVE SETTINGS MOBILE*/
  @media (max-width: 1000px) {
    .container-links {
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .left-side {
      text-align: center;
      width: 90%; /* Adjust this value to control the width of the left side */
    }
    
    .right-side {
      width: 90%; /* Adjust this value to control the width of the right side */
    }
    .container {
      flex-direction: column;
    }
    nav ul {
      display: none;
    }
    nav li {
      display: block;
      margin: 10px 0;
    }
    nav li:hover > ul {
        display: block;
        position: static;
        background-color: #ddd;
    }
    main {
      padding: 0 0;
      padding-top: 90px;
    }
    .column img {/*IMAGES ATTACK DENFENSE HUNTING*/
      margin-top: 10px;
      width: 66px;
      height: auto;
    }
    .column button {/*BUTTON Mehr erfahren*/
      display: inline-block;
      padding: 5px 20px;
      margin-bottom: 30px;
      font-size: 16px;
      border-radius: 20px;
      background-color: #1b5e20;
      color: #fff;
      cursor: pointer;
    }
    .video {
      display: flexbox;
      margin: 0 auto;
      position: relative;
      padding-bottom: 56.25%;/*56.25%;  16:9 aspect ratio */
      height: 0;
    }
    .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }
  }
  
