/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up basic layout using CSS grid */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #fff;
  color: #333;
}

/* Featured article styles */
.featured {
  background-color: #f2f2f2;
  padding: 20px;
}

.featured h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.featured-article img {
  width: 100%;
}

.featured-article h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.featured-article p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.featured-article .button {
  display: inline-block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.featured-article .button:hover {
  background-color: #fff;
  color: #333;
}

/* Article styles */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.articles h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article img {
  width: 100%;
}

.article h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.article p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.article .button {
  display: inline-block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.article .button:hover {
  background-color: #fff;
  color: #333;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
